// animate
@keyframes slogan {
    0% {
        filter: brightness(100%);
        transform: scale(1);
    }

    25% {
        filter: brightness(150%);
        transform: scale(1);
    }

    26% {
        transform: scale(1.04);
    }

    27% {
        transform: scale(1);
    }

    28% {
        transform: scale(1.04);
    }

    29% {
        transform: scale(1);
    }

    50% {
        filter: brightness(100%);
    }

    75% {
        filter: brightness(120%);
    }

    78% {
        transform: scale(1);
    }

    79% {
        transform: scale(1.04);
    }

    80% {
        transform: scale(1);
    }

    81% {
        transform: scale(1.04);
    }

    82% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
        filter: brightness(100%);
    }
}

@keyframes blowUpModal {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

// bubble

.bubbles {
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 3;
    bottom: 0;
}