/* float ad */

.float-ad {
    position: fixed;
    bottom: 60px;
    right: 8px;
    -webkit-animation: float 3.6s ease-in-out infinite;
    animation: float 3.6s ease-in-out infinite;
    z-index: 10;

    img {
        width: 11rem;
        filter: drop-shadow(6px 10px 3px rgba(0, 0, 0, 0.24));

        &:hover {
            -webkit-transform: scale(1.08);
            transform: scale(1.08);
            -webkit-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
        }
    }
}

.mobile .float-ad {
    bottom: 60px;
    right: -6px;

    img {
        width: 9rem;
    }
}

.float-ad-list {
    position: fixed;
    bottom: 30px;
    right: 8px;
    -webkit-animation: float 3.6s ease-in-out infinite;
    animation: float 3.6s ease-in-out infinite;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.625rem;

    .float-ad {
        position: initial;

        img {
            margin: 0 auto;
        }
    }
}

@keyframes float {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    50% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

/* rank */

.currency-block table tbody tr {
    &:first-child td:first-child,
    &:nth-child(2) td:first-child,
    &:nth-child(3) td:first-child {
        color: transparent;
        background-position: center;
        background-size: 28px;
        background-repeat: no-repeat;
    }

    &:first-child td:first-child {
        background-image: url(../images/icon/ranking/icon_no_1.svg);
    }

    &:nth-child(2) td:first-child {
        background-image: url(../images/icon/ranking/icon_no_2.svg);
    }

    &:nth-child(3) td:first-child {
        background-image: url(../images/icon/ranking/icon_no_3.svg);
    }
}

.mobile .currency-block table tbody tr {
    &:nth-child(1) td:nth-child(1),
    &:nth-child(2) td:nth-child(1),
    &:nth-child(3) td:nth-child(1) {
        background-size: 22px;
    }
}

.curr-table {
    position: relative;
}


.points-colume-table {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .head,
    .value {
        @include flex(center);
        flex: 1;
    }

    .box {
        @include flex;
        border-left: solid 0.5px transparent;
        border-bottom: solid 0.5px transparent;

        &:nth-child(1) {
            grid-column: 2 span;
            display: block;
        }
    }
}